#admin_wrapper {
    width: 100%;
    height: auto;
    background-color: #f3f4f6;
    label{
        margin-bottom: 0.5rem;
    }
    textarea{
        height: 150px;
    }
    header {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
        display: flex;
        background-color: #fff;
        position: fixed;
        inset: 0 0 auto;
        z-index: 999;

        button {
            background-color: #fff;
            color: #000;
        }

        .bi-list::before {
            font-size: 2rem;
        }

        img {
            padding: 2.5rem;
        }

        .item-top-right {
            display: flex;
            position: absolute;
            right: 30px;
            top: 20px;

            a {
                color: #6b727a;
                margin-right: 1.5rem;
                margin-top: 0.5rem;
                font-size: 1.5rem;
            }

            .dropdown {
                margin-left: 1rem;
                width: 38px;
                height: 38px;
                background-color: #6b727a;
                border-radius: 20px;
            }
        }
    }

    main {
        min-height: 1400px;
        display: grid;
        // grid-template-columns: 250px auto;

        aside {
            width: 250px;
            height: 100vh;
            position: fixed;
            top: 0;
            transform: translateY(90px);
            background-color: #fff;
            box-shadow: 2px 0 8px rgba(0, 0, 0, 0.16);

            .menu_left {
                width: 100%;
                margin-top: 2rem;

                ul {
                    li {
                        height: 80px;
                        margin: auto;
                        justify-content: center;
                        position: relative;
                        border-bottom: 1px solid #e0e0e0;
                        &:hover{
                            background-color: #f0f9ff;
                            a{
                                margin-left: 35px;
                            }
                        }
                        a {
                            margin-left: 30px;
                            color: #6b727a;
                            font-size: 1.5rem;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);

                            i {
                                padding-right: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .contain {
            margin-left: 250px;
            transform: translateY(90px);

            section {
                padding: 3rem;
                height: 110px;
                width: 100%;
                display: flex;

                .title-table {
                    h3 {
                        color: #6b727a;
                    }
                }

                .section-item-right {
                    position: absolute;
                    right: 30px;
                    display: flex;

                    form {
                        margin: 0 2rem;
                    }

                    .btn-add {
                        height: 30px;
                        border-radius: 15px;
                        background-color: #0284c7;
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 0 2rem;

                        &:hover {
                            background-color: #005683;
                        }
                    }
                }

            }

            .parent-form-admin {
                width: 95%;
                margin: auto;

                form.form-main {
                    input{
                        margin-bottom: 1rem;
                    }
                    label {
                        font-size: 1.25rem;
                    }
                    .form-admin-company {
                        display: flex;
                        h4{
                            text-align: center;
                            color: #7a7a7a;
                        }
                        .about-company {
                            border-radius: 15px;
                            background-color: #fff;
                            width: 55%;
                            padding: 20px;
                            margin: 10px;
                            .description-company textarea{
                                background-color: #fff;
                            }
                            .note-editor.note-frame{
                                // background-color: rgba(0, 0, 0, 0.6);
                                border: 1px solid #e0e0e0;
                            }
                        }
                        .about-contact-person {
                            padding: 20px;
                            border-radius: 15px;
                            margin: 1rem 16px;
                            width: 750px;
                            background-color: #fff;
                            height: auto;

                        }
                        .network-profile{
                            height: 240px;
                        }
                        .compnay-form-right {
                            width: 45%;

                            height: auto;

                            
                            .company-status{
                                padding: 20px;
                                margin: 10px;
                                border-radius: 15px;
                                background-color: #fff;
                            }
                        }
                    }


                    .file-input-group {
                        position: relative;

                        .input-group-append {
                            position: absolute;
                            right: 0;

                            label {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                transform: translateY(-1px);
                                height: 28px;
                                font-size: 1rem;
                                background-color: #0284c7;
                                color: #111827;
                            }
                        }

                        input[type="file"] {
                            border-radius: 0;
                            width: 0.1px;
                            height: 0.1px;
                            opacity: 0;
                            overflow: hidden;
                            position: absolute;
                            z-index: -1;

                        }
                    }



                    input[type="text"] {
                        border-radius: 5px;
                        height: 30px;
                        background-color: #fff;

                        &::placeholder {
                            color: #6b727a;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .table-main {
                width: 95%;
                margin: auto;
                padding: 1.25rem 1.25rem 0.25rem 1.25rem;
                background-color: #fff;
                border-radius: 15px;

                table {
                    color: #6b727a;
                    padding: 10px;

                    thead {
                        border-bottom: 1px solid #b3b3b373;

                        th {
                            color: #0284c7;
                            padding: 1rem;
                        }
                    }

                    tbody {
                        tr {
                            border-bottom: 1px solid #b3b3b373;

                            &:last-child {
                                border-bottom: none;
                            }

                            td {
                                a {
                                    margin: 0 0.25rem;
                                    font-size: 2rem;
                                }

                                padding: 1rem;

                                .bi-pencil-square::before {
                                    color: #6b727a;
                                }

                                .bi-x-circle::before {
                                    color: #cd3545;
                                }
                            }

                            &:hover {
                                background-color: #f0f9ff;


                                td {
                                    color: #5d5d5d;
                                }
                            }
                        }
                    }
                }

            }

            .card-bottom {
                height: 60px;
                background-color: #ffffff;
                width: 95%;
                margin: auto;
                border-radius: 15px;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                position: relative;

                a {
                    background-color: #0284c7;
                    padding: 0 1.25rem;
                    border-radius: 18px;
                    margin: 0.25rem;
                    font-size: 1.25rem;
                    color: #000;

                    &:first-child {
                        margin-left: 2rem;
                    }
                }

                div {
                    position: absolute;
                    height: 100%;
                    padding-right: 10px;
                    right: 0;
                    border-left: 1px solid #7c7c7c70;
                    display: flex;
                    align-items: center;

                    select {
                        background-color: #ffffff;
                        border-radius: 15px;
                        padding: 0.25rem 0.75rem;
                        border: 1px solid #7c7c7c;
                    }

                    p {
                        padding: 0 10px;
                        margin: 0;
                    }
                }
            }
        }
    }

}